extends templates/tpl_office.pug
block content
    <script type="text/javascript" src="./js/suite.min.js"></script>
    input#csrfToken(type="hidden", name="_csrf", value=csrfToken)
    input#userId(type="hidden", name="userId", value=id)
    input#access(type="hidden", value= access)
    .col-10.col-lg-11.p-centered.mt-2
        .d-flex.mt-2.float-right
            .form-group
                label.form-switch.text-bold 
                    span Персональные данные
                    input#personSwitch(type="checkbox")
                    i.form-icon
        .card-head 
            .h1.text-center Личный кабинет
            #person.columns.d-hide
                .col-4.col-md-12.card
                    .card-body
                        label ФИО
                        input#fio.form-input.mb-2(value=fio, placeholder="Инкогнито", data-old=fio)
                        label Почта
                        input#mail.form-input.mb-2(value=mail, placeholder="moyaPochata@pochta.ru", data-old=mail)
                    .card-footer
                        button#saveInfo.btn.btn-primary.d-block.mla(disabled) Сохранить
                .col-4.col-md-12.card
                    .card-header
                        .h4 О вас
                    .card-body
                        label Ваш профиль  
                        br 
                        b= privilage.title
                        br
                        label Аккаунт был создан 
                        br
                        b=  new Date(created).toISOString().split('T')[0].split('-')[2] + '.' + new Date(created).toISOString().split('T')[0].split('-')[1] + '.' + new Date(created).toISOString().split('T')[0].split('-')[0] + ' ' + new Date(created).toISOString().split('T')[1].slice(0,5)
                        

                .col-4.col-md-12.card
                    .card-body
                        .h4.text-center Смена пароля
                        label Старый пароль
                        input#oldPass.form-input(placeholder="••••••••••" type="password")
                        label Новый пароль
                        input#newPass.form-input(placeholder="••••••••••" type="password")
                        label Новый пароль ещё раз
                        input#newPassRepeat.form-input(placeholder="••••••••••" type="password")
                    .card-footer
                        button#change.btn.btn-primary.d-block.mla(disabled) Сменить
            #statsEditing.columns.mt-2
                .column.col-6.col-md-12
                    .d-flex.mb-2
                        .form-group.float-left
                            label.form-switch.text-bold 
                                span Ежедневные
                                input#weekSwitch(type="checkbox")
                                i.form-icon
                    .d-flex
                        #edit_stats
                            label.text-bold Пост
                            if posts.filter(post => post.active).length > 1
                                select#posts.c-hand.form-select.p-centered.mb-2
                                    each post in posts
                                        if post.active
                                            option(value=post.id)= post.title
                            else 
                                select(disabled)#posts.c-hand.form-select.p-centered.mb-2
                                    each post in posts
                                        if post.active
                                        option(value=post.id)= post.title
                            #select_stats.form-group.p-centered
                                label.text-bold Статистика
                                select#stats.form-select
                            #stats_calendar.animated.fadeIn.faster
                            #stats_calendar_weeks.animated.fadeIn.faster.d-hide
                                #calendar_header.d-flex
                                    button.dhx_calendar-navigation__button.dhx_calendar-action__prev.dhx_button.dhx_button--view_link.dhx_button--icon.dhx_button--size_medium.dhx_button--color_secondary.dhx_button--icon.dhx_button--circle.dhx_button__icon.dxi.dxi-chevron-left
                                    button.dhx_calendar-action__show-year.dhx_button.dhx_button--view_link.dhx_button--size_small.dhx_button--color_secondary.dhx_button--circle 2019
                                    button.dhx_calendar-navigation__button.dhx_calendar-action__next.dhx_button.dhx_button--view_link.dhx_button--icon.dhx_button--size_medium.dhx_button--color_secondary.dhx_button--icon.dhx_button--circle.dhx_button__icon.dxi.dxi-chevron-right
                                #calendar_body.d-flex
                            input(type="number")#stats_value.form-input.mt-2
                        #stat
                            .my_dataviz.dragscroll(style=" overflow:auto")

                        

