extends templates/tpl_office.pug
block content
    <script type="text/javascript" src="./js/suite.min.js"></script>
    input#csrfToken(type="hidden", name="_csrf", value=csrfToken)
    input#userId(type="hidden", name="userId", value=id)
    input#access(type="hidden", value= access)
    .col-10.col-lg-11.p-centered.mt-2
        .d-flex.mt-2.float-right
            .form-group
                label.form-switch.text-bold 
                    span Персональные данные
                    input#personSwitch(type="checkbox")
                    i.form-icon
        .card-head 
            .h1.text-center Личный кабинет
            #person.columns.d-hide
                .col-4.col-md-12.card
                    .card-body
                        label ФИО
                        input#fio.form-input.mb-2(value=fio, placeholder="Инкогнито", data-old=fio)
                        label Почта
                        input#mail.form-input.mb-2(value=mail, placeholder="moyaPochata@pochta.ru", data-old=mail)
                    .card-footer
                        button#saveInfo.btn.btn-primary.d-block.mla(disabled) Сохранить
                .col-4.col-md-12.card
                    .card-header
                        .h4 О вас
                    .card-body
                        label Ваш профиль  
                        br 
                        b= privilage.title
                        br
                        label Аккаунт был создан 
                        br
                        b=  new Date(created).toISOString().split('T')[0].split('-')[2] + '.' + new Date(created).toISOString().split('T')[0].split('-')[1] + '.' + new Date(created).toISOString().split('T')[0].split('-')[0] + ' ' + new Date(created).toISOString().split('T')[1].slice(0,5)
                        

                .col-4.col-md-12.card
                    .card-body
                        .h4.text-center Смена пароля
                        label Старый пароль
                        input#oldPass.form-input(placeholder="••••••••••" type="password")
                        label Новый пароль
                        input#newPass.form-input(placeholder="••••••••••" type="password")
                        label Новый пароль ещё раз
                        input#newPassRepeat.form-input(placeholder="••••••••••" type="password")
                    .card-footer
                        button#change.btn.btn-primary.d-block.mla(disabled) Сменить
            #statsEditing.columns.mt-2
                .column.col-12.col-md-12
                    .d-flex
                        .form-group.float-left
                            label.form-switch.text-bold 
                                span Перевернутый
                                input#revertedSwitch(type="checkbox")
                                i.form-icon
                        
                        .form-group.float-left
                            label.form-switch.text-bold 
                                span 7R
                                input#sevenrSwitch(type="checkbox")
                                i.form-icon
                    
                    label.form-switch.text-bold.mb-2
                        span Квота на период
                        input#quotaSwitch(type="checkbox")
                        i.form-icon
                    #period_quota.d-flex.d-hide
                        .input-group
                            input(type="number", placeholder="введите квоту")#period_quota_input.form-input.mt-2
                            input(type="number", placeholder="дни")#days_quota.form-input.mt-2
                            button#quota_btn.btn.mt-2.input-group-btn
                                i.icon.icon-check
                    
                    .d-flex
                        #edit_stats
                            label.text-bold Пост
                            if posts.filter(post => post.active).length > 1
                                select#posts.c-hand.form-select.p-centered.mb-2
                                    each post in posts
                                        if post.active
                                            option(value=post.id)= post.title
                            else 
                                select(disabled)#posts.c-hand.form-select.p-centered.mb-2
                                    each post in posts
                                        if post.active
                                        option(value=post.id)= post.title
                            #select_stats.form-group.p-centered
                                label.text-bold Статистика
                                select#stats.form-select
                            #stats_calendar.animated.fadeIn.faster
                                #calendar_body.d-flex
                            input(type="number", placeholder="введите значение")#stats_value.form-input.mt-2
                            input(type="number", placeholder="введите квоту")#stats_quota.form-input.mt-2
                            textarea(placeholder="Комментарий")#stats_rem.form-input.mt-2
                        #stat.column.col-6.col-xl-3.col-lg-4.col-md-6.col-sm-12.col-xxl-3.mb-2.dragscroll(style="overflow:auto")
                            #editStat.my_dataviz
                    
                    #periods.mt-2.text-center
                        .chip.c-hand.active(data-name="1") День
                        .chip.c-hand(data-name="2") 2 недели
                        .chip.c-hand(data-name="6") 6 недель
                        .chip.c-hand(data-name="12") 12 недель
                        .chip.c-hand(data-name="24") 24 недели
                        .chip.c-hand(data-name="Y") Год

                        

