
input#access(type="hidden", value= access)
input#csrfToken(type="hidden", name="_csrf", value=csrfToken)
.col-12.p-centered.mt-2.lg-grid
    div.d-flex
        .form-group
            label#showInactive.form-switch Отобразить неактивных
                input(type="checkbox")
                i.form-icon
        button.btn Добавить
    table.table
        thead
            tr
                th Название
                th Пользователи
                th Операции
        tbody
            each post in posts
                if post.active 
                    tr
                        td= post.title
                        td 
                            .form-autocomplete(data-data=JSON.stringify(post))
                                .form-autocomplete-input
                                    .chips
                                        each uid in post.users.split(',')
                                            span.chip(data-id=uid)= users.find(user => user.id == uid).fio
                                                a.btn.btn-clear
                                    input.form-input(type="text", placeholder="Поиск")
                                ul.menu
                        td
                            .form-group
                                label.operations.form-switch
                                    input(type="checkbox", checked=!!post.active, data-uid= post.id)
                                    i.form-icon
                else
                    tr.d-hide
                        td= post.title
                        td 
                            .form-autocomplete(data-data=JSON.stringify(post))
                                .form-autocomplete-input.form-input 
                                    .chips
                                        each uid in post.users.split(',')
                                            span.chip= users.find(user => user.id == uid).fio
                                                a.btn.btn-clear
                                    input.form-input(type="text", placeholder="typing here")
                                ul.menu
                        td
                            .form-group
                                label.operations.form-switch
                                    input(type="checkbox", checked=!!post.active, data-uid= post.id)
                                    i.form-icon

